@font-face {
    font-family:Battle Continuez;
    src: url(https://raw.githubusercontent.com/GrandioseBehavior/asset/main/TheBattleContinuez-vAVA.ttf);
}
@font-face {
    font-family: Ace Sans;
    src: url(https://raw.githubusercontent.com/GrandioseBehavior/asset/main/AceSansFree-2O2LX.otf);
}

body { 
    background: url(https://64.media.tumblr.com/f4fdd4e697db35fa3237f17650f266f0/tumblr_msj9kldifz1rmxmv3o1_400.gifv) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:black;
    font-family: Ace Sans;
  }

nav{background-color:black;padding-left:50px;height:50px;top:0;left:0;right:0;position:fixed;z-index:1;display:flex;justify-content:space-evenly;align-items:center;}

a{color:red;text-decoration:none;font-weight:bold;}

a:hover{color:white;font-weight:bold;}

.webpage{background-color:rgb(225,225,225,.5);width:70%;margin-left:auto;margin-right:auto;backdrop-filter: blur( 10px );border-left: 2px solid red;border-right: 2px solid red;margin-bottom:-10;}

.title{width:100%;margin-left:auto;margin-right:auto;padding-top:50px;padding-bottom:10px;background-color:rgb(0,0,0, .9);backdrop-filter: blue (10px);}

.content{width:80%;margin-left:auto;margin-right:auto;padding-bottom:30px;padding-top:20px;}

.footer{width:100%;
    background-color:rgb(0,0,0, .9);
    backdrop-filter: blue (10px);
    padding-top:25px;
    overflow:hidden;
    height:30px;
    padding-bottom:25px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:no-wrap;
    margin-bottom:-10;}

.directory{display:flex;
    padding-left:20px;
    padding-right:20px;
    line-height:.5rem;
    text-align:right;
    font-size:.7rem;
flex-direction:column;
justify-content:center;
align-items:flex-end}

.social{padding-left:20px; 
    padding-right:20px;
    text-align:center;
    overflow:hidden;
    display:flex;
    flex-direction:row;;
    align-items:center;}

h1{text-align:center;font-family:Battle Continuez;font-size:3rem;color:white;}
h1 > b{color:red;text-shadow: 1px 1px #fff;}
h2{text-align: center;color:red;text-shadow: 2px 2px black;}
h3{text-align:center;color:red;text-shadow: 2px 2px black;}
p{text-align:center;padding-bottom:20px;}
.slogan{color:red;font-weight:bold;font-size:1.3rem;}
.info{padding-bottom:0px;}
